#server-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#server-form label {
    width: 45%;
    font-size: 25px;
    display: flex;
    flex-direction: column;
}

#server-form label input {
    max-width: 100%;
    font-size: 25px;
    border: 3px solid var(--background-outline-color);
    border-radius: 5px;
    background-color: var(--secondary-background-color);
    color: var(--text-color);
    font-family: 'Minecraft';
}

#server-form label select {
    max-width: 100%;
    font-size: 25px;
    border: 3px solid var(--background-outline-color);
    border-radius: 5px;
    background-color: var(--secondary-background-color);
    color: var(--text-color);
    font-family: 'Minecraft';
}

.upload-container {
    width: 100%;
    padding: 20px;
    border: 3px solid var(--primary);
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 20px;
}

.upload-container input::file-selector-button {
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: var(--primary);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-container input::file-selector-button:hover {
    background-color: var(--primary-hover);
}

#upload-properties {
    text-align: left;
}

#output-box {
    width: 100%;
    background-color: var(--secondary-background-color);
    border: 3px solid var(--background-outline-color);
    border-radius: 5px;
}

.buttons-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#generate-button {
    color: white;
    background-color: var(--primary);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#generate-button:hover {
    background-color: var(--primary-hover);
}

#copy-button {
    color: white;
    background-color: var(--secondary);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}