<link rel="stylesheet" href="\assets\css\navbar.css">

<nav class="navbar">
  <div class="navbar-brand"><a href="/">MC-Utils</a></div>
  <ul class="navbar-links">
    <li class="nav-link"><a href="/">Home</a></li>
    <li class="nav-link"><a href="/util/skin-stealer">Skin Stealer</a></li>
    <li class="dropdown">
      <a href="#">Server <span class="arrow">▼</span></a>
      <ul class="dropdown-menu">
        {% for page in site.pages %}
          {% if page.path contains "pages/utils/server" %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
    <li class="theme-toggle">
      <button id="theme-toggle" aria-label="Toggle Theme"><i class="fa-solid fa-moon"></i></button>
    </li>
    <li class="nav-icon"><a href="https://github.com/SyddersLMAO/mc-utils"><i class="fa-brands fa-github"></i></a></li>
  </ul>
</nav>

<script src="\assets\js\navbar.js"></script>
