@font-face {
  font-family: "Minecraft";
  src: url(/assets/fonts/MinecraftRegular.otf) format('opentype');
}

@font-face {
  font-family: "Minecraft";
  font-weight: bold;
  src: url(/assets/fonts/MinecraftBold.otf) format('opentype');
}

:root {
  --primary: #f49ac1;
  --primary-hover: #f5aaca;
  --secondary: #4CAF50;
  --secondary-hover: #45a049;

  --background-color: #161616;
  --secondary-background-color: #333;
  --container-background-color: #1e1e1e;

  --background-outline-color: #161616;

  --text-color: #ffffff;
  --secondary-text-color: #ddd;

  --navbar-background: #2b2b2b;
  --navbar-border: #444;
  --link-color: #fff;
  --link-hover-background: #555;
  --link-hover-color: #fff;
  --dropdown-background: #444;
  --dropdown-link-color: #ccc;
  --dropdown-link-hover-background: #555;
  --dropdown-link-hover-color: #fff;
}

body.light-mode {
  --background-color: #f7f7f7;
  --secondary-background-color: #eee;
  --container-background-color: #fff;

  --background-outline-color: #ccc;

  --text-color: #333;
  --secondary-text-color: #222;
  
  --navbar-background: #e7e7e7;
  --navbar-border: #cecece;
  --link-color: #333;
  --link-hover-background: #bbb;
  --link-hover-color: #fff;
  --dropdown-background: #444;
  --dropdown-link-color: #ccc;
  --dropdown-link-hover-background: #555;
  --dropdown-link-hover-color: #fff;
}

* {
    margin: 0;
    padding: 0;
}

.hidden {
  display: none !important;
}

body {
  font-family: 'minecraft';
  background-color: var(--background-color);
}

.container {
    color: var(--text-color);
    padding: 2rem;
    margin: 20px 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: var(--container-background-color);
    flex-direction: column;
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
    color: var(--primary);
}