---
layout: default
title: MC-Util
permalink: /
---

<head>
    <link rel="stylesheet" href="\pages\home\style.css">
</head>
<body>
    <div class="container">
        <div class="title-container">
            <h1 class="title">MC-Utils</h1>
            <h2 class="subtitle">A collection of tools for your minecraft needs!</h2>
        </div>

        <div class="util-card-container">
            {% for page in site.pages %}
                {% if page.path contains "pages/utils/" %}
                    <a href="{{ page.url }}" class="util-card">
                        <h4><b>{{ page.title }}</b></h4>
                        <p>{{ page.description }}</p>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</body>