<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css">

  <meta name="title" content="MC-Utils" />
  <meta name="description" content="A collection of tools and utilities for minecraft." />

  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://mc-utils.sydders.com/" />
  <meta property="og:title" content="MC-Utils" />
  <meta property="og:description" content="A collection of tools and utilities for minecraft." />
  <meta property="og:image" content="https://mc-utils.sydders.com/assets/images/mc-utils.png" />

  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://mc-utils.sydders.com/" />
  <meta property="twitter:title" content="MC-Utils" />
  <meta property="twitter:description" content="A collection of tools and utilities for minecraft." />
  <meta property="twitter:image" content="https://mc-utils.sydders.com/assets/images/mc-utils.png" />
</head>
<body>
  {% include navbar.html %}
  <main>
    {{ content }}
  </main>
</body>
</html>
